USE [master]
GO
/****** Object:  Database [CARSALE_DB]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE DATABASE [CARSALE_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CARSALE_DB', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\CARSALE_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CARSALE_DB_log', FILENAME = N'D:\SQL\MSSQL16.SQLEXPRESS\MSSQL\DATA\CARSALE_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CARSALE_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CARSALE_DB]
GO
/****** Object:  User [carsale_sales]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE USER [carsale_sales] FOR LOGIN [carsale_sales] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [carsale_manager]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE USER [carsale_manager] FOR LOGIN [carsale_manager] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [carsale_app]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE USER [carsale_app] FOR LOGIN [carsale_app] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [carsale_admin]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE USER [carsale_admin] FOR LOGIN [carsale_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [CARSALE_VIEWER_ROLE]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE ROLE [CARSALE_VIEWER_ROLE]
GO
/****** Object:  DatabaseRole [CARSALE_SALES_ROLE]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE ROLE [CARSALE_SALES_ROLE]
GO
/****** Object:  DatabaseRole [CARSALE_MANAGER_ROLE]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE ROLE [CARSALE_MANAGER_ROLE]
GO
/****** Object:  DatabaseRole [CARSALE_ADMIN_ROLE]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE ROLE [CARSALE_ADMIN_ROLE]
GO
ALTER ROLE [CARSALE_SALES_ROLE] ADD MEMBER [carsale_sales]
GO
ALTER ROLE [CARSALE_MANAGER_ROLE] ADD MEMBER [carsale_manager]
GO
ALTER ROLE [CARSALE_VIEWER_ROLE] ADD MEMBER [carsale_app]
GO
ALTER ROLE [CARSALE_ADMIN_ROLE] ADD MEMBER [carsale_admin]
GO
ALTER ROLE [db_owner] ADD MEMBER [carsale_admin]
GO
ALTER ROLE [db_owner] ADD MEMBER [CARSALE_ADMIN_ROLE]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](20) NULL,
	[MATKHAU] [nvarchar](256) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[NGAYDANGKY] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUDIT_LOG]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDIT_LOG](
	[MALOG] [int] IDENTITY(1,1) NOT NULL,
	[MATK] [int] NULL,
	[HANHDONG] [nvarchar](100) NULL,
	[BANGTACDONG] [nvarchar](50) NULL,
	[NGAYGIO] [datetime] NULL,
	[IP] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_ROLE]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_ROLE](
	[MATK] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[ROLENAME] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_USER_ROLES]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: User Roles
CREATE   VIEW [dbo].[VW_USER_ROLES] AS
SELECT 
    c.MAKH,
    c.HOTEN,
    c.EMAIL,
    c.SDT,
    ar.ROLENAME,
    c.NGAYDANGKY,
    (SELECT COUNT(*) FROM AUDIT_LOG WHERE MATK = c.MAKH) AS TOTAL_ACTIVITIES
FROM CUSTOMER c
LEFT JOIN ACCOUNT_ROLE ar ON c.MAKH = ar. MAKH;
GO
/****** Object:  View [dbo].[VW_AUDIT_LOG_DETAIL]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Audit Log Detail
CREATE   VIEW [dbo].[VW_AUDIT_LOG_DETAIL] AS
SELECT 
    al.MALOG,
    al.MATK,
    c.HOTEN,
    c.EMAIL,
    ar.ROLENAME,
    al.HANHDONG,
    al.BANGTACDONG,
    al.NGAYGIO,
    al.IP
FROM AUDIT_LOG al
LEFT JOIN CUSTOMER c ON al. MATK = c.MAKH
LEFT JOIN ACCOUNT_ROLE ar ON al.MATK = ar. MATK;
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[MADON] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[NGAYDAT] [datetime] NULL,
	[TONGTIEN] [decimal](12, 2) NULL,
	[TRANGTHAI] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL](
	[MADON] [int] NOT NULL,
	[MAXE] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [decimal](12, 2) NULL,
 CONSTRAINT [PK_ORDER_DETAIL] PRIMARY KEY CLUSTERED 
(
	[MADON] ASC,
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_ORDER_SUMMARY]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Order Summary
CREATE   VIEW [dbo].[VW_ORDER_SUMMARY] AS
SELECT 
    o.MADON,
    o.MAKH,
    c.HOTEN,
    c.EMAIL,
    o.NGAYDAT,
    o. TONGTIEN,
    o. TRANGTHAI,
    COUNT(od.MAXE) AS SO_XE
FROM ORDERS o
INNER JOIN CUSTOMER c ON o.MAKH = c.MAKH
LEFT JOIN ORDER_DETAIL od ON o.MADON = od. MADON
GROUP BY o. MADON, o.MAKH, c.HOTEN, c. EMAIL, o.NGAYDAT, o.TONGTIEN, o.TRANGTHAI;
GO
/****** Object:  Table [dbo].[CAR]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR](
	[MAXE] [int] IDENTITY(1,1) NOT NULL,
	[TENXE] [nvarchar](100) NULL,
	[HANGXE] [nvarchar](50) NULL,
	[GIA] [decimal](12, 2) NULL,
	[NAMSX] [int] NULL,
	[MOTA] [nvarchar](max) NULL,
	[HINHANH] [nvarchar](200) NULL,
	[TRANGTHAI] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDBACK]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK](
	[MAFB] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[MAXE] [int] NOT NULL,
	[NOIDUNG] [nvarchar](1000) NULL,
	[DIEMDANHGIA] [int] NULL,
	[NGAYDANHGIA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAFB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AUDIT_LOG_MATK]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_AUDIT_LOG_MATK] ON [dbo].[AUDIT_LOG]
(
	[MATK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AUDIT_LOG_NGAYGIO]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_AUDIT_LOG_NGAYGIO] ON [dbo].[AUDIT_LOG]
(
	[NGAYGIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CAR_GIA]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_CAR_GIA] ON [dbo].[CAR]
(
	[GIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CAR_HANGXE]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_CAR_HANGXE] ON [dbo].[CAR]
(
	[HANGXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CUSTOMER_EMAIL]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_CUSTOMER_EMAIL] ON [dbo].[CUSTOMER]
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ORDERS_MAKH]    Script Date: 11/28/2025 1:05:41 PM ******/
CREATE NONCLUSTERED INDEX [IX_ORDERS_MAKH] ON [dbo].[ORDERS]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUDIT_LOG] ADD  DEFAULT (getdate()) FOR [NGAYGIO]
GO
ALTER TABLE [dbo].[CAR] ADD  DEFAULT (N'Còn hàng') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT (getdate()) FOR [NGAYDANGKY]
GO
ALTER TABLE [dbo].[FEEDBACK] ADD  DEFAULT (getdate()) FOR [NGAYDANHGIA]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (getdate()) FOR [NGAYDAT]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (N'Chờ xử lý') FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[ACCOUNT_ROLE]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_CUSTOMER] FOREIGN KEY([MAKH])
REFERENCES [dbo].[CUSTOMER] ([MAKH])
GO
ALTER TABLE [dbo].[ACCOUNT_ROLE] CHECK CONSTRAINT [FK_ROLE_CUSTOMER]
GO
ALTER TABLE [dbo].[FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_FEEDBACK_CAR] FOREIGN KEY([MAXE])
REFERENCES [dbo].[CAR] ([MAXE])
GO
ALTER TABLE [dbo].[FEEDBACK] CHECK CONSTRAINT [FK_FEEDBACK_CAR]
GO
ALTER TABLE [dbo].[FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_FEEDBACK_CUSTOMER] FOREIGN KEY([MAKH])
REFERENCES [dbo].[CUSTOMER] ([MAKH])
GO
ALTER TABLE [dbo].[FEEDBACK] CHECK CONSTRAINT [FK_FEEDBACK_CUSTOMER]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDERDETAIL_CAR] FOREIGN KEY([MAXE])
REFERENCES [dbo].[CAR] ([MAXE])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDERDETAIL_CAR]
GO
ALTER TABLE [dbo].[ORDER_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ORDERDETAIL_ORDER] FOREIGN KEY([MADON])
REFERENCES [dbo].[ORDERS] ([MADON])
GO
ALTER TABLE [dbo].[ORDER_DETAIL] CHECK CONSTRAINT [FK_ORDERDETAIL_ORDER]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_CUSTOMER] FOREIGN KEY([MAKH])
REFERENCES [dbo].[CUSTOMER] ([MAKH])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDER_CUSTOMER]
GO
/****** Object:  StoredProcedure [dbo].[SP_CREATE_ORDER]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Create Order
CREATE   PROCEDURE [dbo].[SP_CREATE_ORDER]
    @MAKH INT,
    @MAXE INT,
    @SOLUONG INT,
    @RESULT INT OUTPUT,
    @MESSAGE NVARCHAR(200) OUTPUT,
    @MADON INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Get car price
        DECLARE @DONGIA DECIMAL(12,2);
        SELECT @DONGIA = GIA FROM CAR WHERE MAXE = @MAXE;
        
        IF @DONGIA IS NULL
        BEGIN
            SET @RESULT = 0;
            SET @MESSAGE = N'Xe không tồn tại';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        DECLARE @TONGTIEN DECIMAL(12,2) = @DONGIA * @SOLUONG;
        
        -- Create order
        INSERT INTO ORDERS (MAKH, TONGTIEN, TRANGTHAI)
        VALUES (@MAKH, @TONGTIEN, N'Chờ xử lý');
        
        SET @MADON = SCOPE_IDENTITY();
        
        -- Create order detail
        INSERT INTO ORDER_DETAIL (MADON, MAXE, SOLUONG, DONGIA)
        VALUES (@MADON, @MAXE, @SOLUONG, @DONGIA);
        
        -- Audit log
        INSERT INTO AUDIT_LOG (MATK, HANHDONG, BANGTACDONG)
        VALUES (@MAKH, 'CREATE_ORDER', 'ORDERS');
        
        COMMIT TRANSACTION;
        
        SET @RESULT = 1;
        SET @MESSAGE = N'Đặt hàng thành công';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @RESULT = 0;
        SET @MESSAGE = ERROR_MESSAGE();
        SET @MADON = NULL;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_CARS]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Get All Cars (with filter)
CREATE   PROCEDURE [dbo].[SP_GET_ALL_CARS]
    @SEARCH NVARCHAR(100) = NULL,
    @HANGXE NVARCHAR(50) = NULL,
    @MIN_PRICE DECIMAL(12,2) = NULL,
    @MAX_PRICE DECIMAL(12,2) = NULL,
    @NAMSX INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        MAXE, TENXE, HANGXE, GIA, NAMSX, MOTA, HINHANH, TRANGTHAI
    FROM CAR
    WHERE 
        (@SEARCH IS NULL OR TENXE LIKE '%' + @SEARCH + '%')
        AND (@HANGXE IS NULL OR HANGXE = @HANGXE)
        AND (@MIN_PRICE IS NULL OR GIA >= @MIN_PRICE)
        AND (@MAX_PRICE IS NULL OR GIA <= @MAX_PRICE)
        AND (@NAMSX IS NULL OR NAMSX = @NAMSX)
    ORDER BY MAXE DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_BRANDS]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Get Brands
CREATE   PROCEDURE [dbo].[SP_GET_BRANDS]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT DISTINCT HANGXE 
    FROM CAR 
    WHERE HANGXE IS NOT NULL
    ORDER BY HANGXE;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CAR_BY_ID]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Get Car by ID
CREATE   PROCEDURE [dbo].[SP_GET_CAR_BY_ID]
    @MAXE INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        MAXE, TENXE, HANGXE, GIA, NAMSX, MOTA, HINHANH, TRANGTHAI
    FROM CAR
    WHERE MAXE = @MAXE;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_MY_ORDERS]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Get My Orders
CREATE   PROCEDURE [dbo].[SP_GET_MY_ORDERS]
    @MAKH INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        o.MADON,
        o.NGAYDAT,
        o. TONGTIEN,
        o. TRANGTHAI,
        od.MAXE,
        c.TENXE,
        c. HANGXE,
        od.SOLUONG,
        od.DONGIA
    FROM ORDERS o
    INNER JOIN ORDER_DETAIL od ON o.MADON = od. MADON
    INNER JOIN CAR c ON od.MAXE = c.MAXE
    WHERE o.MAKH = @MAKH
    ORDER BY o.NGAYDAT DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GRANT_ROLE_TO_USER]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GRANT_ROLE_TO_USER]
    @USERNAME NVARCHAR(100),
    @ROLENAME NVARCHAR(100),
    @RESULT INT OUTPUT,
    @MESSAGE NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Check if user exists
        IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = @USERNAME AND type IN ('S', 'U'))
        BEGIN
            SET @RESULT = 0;
            SET @MESSAGE = N'User không tồn tại: ' + @USERNAME;
            RETURN;
        END
        
        -- Check if role exists
        IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = @ROLENAME AND type = 'R')
        BEGIN
            SET @RESULT = 0;
            SET @MESSAGE = N'Role không tồn tại: ' + @ROLENAME;
            RETURN;
        END
        
        -- Grant role
        DECLARE @SQL NVARCHAR(500);
        SET @SQL = N'ALTER ROLE ' + QUOTENAME(@ROLENAME) + N' ADD MEMBER ' + QUOTENAME(@USERNAME);
        EXEC sp_executesql @SQL;
        
        SET @RESULT = 1;
        SET @MESSAGE = N'Đã gán role ' + @ROLENAME + N' cho user ' + @USERNAME;
        
        -- Audit log
        INSERT INTO AUDIT_LOG (MATK, HANHDONG, BANGTACDONG)
        VALUES (0, 'GRANT_ROLE: ' + @ROLENAME, 'USER: ' + @USERNAME);
    END TRY
    BEGIN CATCH
        SET @RESULT = 0;
        SET @MESSAGE = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_USER_PERMISSIONS]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: List User Permissions
CREATE   PROCEDURE [dbo].[SP_LIST_USER_PERMISSIONS]
    @USERNAME NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.name AS UserName,
        p.class_desc AS PermissionClass,
        p.permission_name AS Permission,
        OBJECT_NAME(p.major_id) AS ObjectName,
        p.state_desc AS GrantState
    FROM sys.database_principals u
    INNER JOIN sys.database_permissions p ON u. principal_id = p.grantee_principal_id
    WHERE u.name = @USERNAME
    ORDER BY p.class_desc, ObjectName, p.permission_name;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LIST_USER_ROLES]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: List User Roles
CREATE   PROCEDURE [dbo].[SP_LIST_USER_ROLES]
    @USERNAME NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        u.name AS UserName,
        r.name AS RoleName,
        r. type_desc AS RoleType
    FROM sys.database_principals u
    INNER JOIN sys.database_role_members rm ON u.principal_id = rm.member_principal_id
    INNER JOIN sys.database_principals r ON rm.role_principal_id = r.principal_id
    WHERE (@USERNAME IS NULL OR u.name = @USERNAME)
    AND u.type IN ('S', 'U')
    ORDER BY u.name, r.name;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN_CUSTOMER]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Login Customer
CREATE   PROCEDURE [dbo].[SP_LOGIN_CUSTOMER]
    @EMAIL NVARCHAR(100),
    @MATKHAU NVARCHAR(100),
    @IP NVARCHAR(30),
    @RESULT INT OUTPUT,
    @MESSAGE NVARCHAR(200) OUTPUT,
    @MAKH INT OUTPUT,
    @HOTEN NVARCHAR(100) OUTPUT,
    @ROLENAME NVARCHAR(30) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Hash password
    DECLARE @EncryptedPassword NVARCHAR(256);
    SET @EncryptedPassword = CONVERT(NVARCHAR(256), HASHBYTES('SHA2_256', @MATKHAU), 2);
    
    -- Check credentials
    SELECT TOP 1 
        @MAKH = c.MAKH,
        @HOTEN = c.HOTEN,
        @ROLENAME = ISNULL(ar.ROLENAME, 'CUSTOMER')
    FROM CUSTOMER c
    LEFT JOIN ACCOUNT_ROLE ar ON c.MAKH = ar. MAKH
    WHERE c. EMAIL = @EMAIL 
    AND c.MATKHAU = @EncryptedPassword;
    
    IF @MAKH IS NULL
    BEGIN
        SET @RESULT = 0;
        SET @MESSAGE = N'Email hoặc mật khẩu không đúng';
        RETURN;
    END
    
    -- Success
    SET @RESULT = 1;
    SET @MESSAGE = N'Đăng nhập thành công';
    
    -- Audit log
    INSERT INTO AUDIT_LOG (MATK, HANHDONG, BANGTACDONG, IP)
    VALUES (@MAKH, 'LOGIN', 'CUSTOMER', @IP);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGOUT_CUSTOMER]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Logout Customer
CREATE   PROCEDURE [dbo].[SP_LOGOUT_CUSTOMER]
    @MAKH INT,
    @IP NVARCHAR(30),
    @RESULT INT OUTPUT,
    @MESSAGE NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO AUDIT_LOG (MATK, HANHDONG, BANGTACDONG, IP)
    VALUES (@MAKH, 'LOGOUT', 'CUSTOMER', @IP);
    
    SET @RESULT = 1;
    SET @MESSAGE = N'Đăng xuất thành công';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REGISTER_CUSTOMER]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Register Customer
CREATE   PROCEDURE [dbo].[SP_REGISTER_CUSTOMER]
    @HOTEN NVARCHAR(100),
    @EMAIL NVARCHAR(100),
    @SDT NVARCHAR(20),
    @MATKHAU NVARCHAR(100),
    @DIACHI NVARCHAR(200),
    @RESULT INT OUTPUT,
    @MESSAGE NVARCHAR(200) OUTPUT,
    @MAKH INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Check if email exists
    IF EXISTS (SELECT 1 FROM CUSTOMER WHERE EMAIL = @EMAIL)
    BEGIN
        SET @RESULT = 0;
        SET @MESSAGE = N'Email đã được sử dụng';
        SET @MAKH = NULL;
        RETURN;
    END
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Hash password with SHA2_256
        DECLARE @EncryptedPassword NVARCHAR(256);
        SET @EncryptedPassword = CONVERT(NVARCHAR(256), HASHBYTES('SHA2_256', @MATKHAU), 2);
        
        -- Insert customer
        INSERT INTO CUSTOMER (HOTEN, EMAIL, SDT, MATKHAU, DIACHI)
        VALUES (@HOTEN, @EMAIL, @SDT, @EncryptedPassword, @DIACHI);
        
        SET @MAKH = SCOPE_IDENTITY();
        
        -- Assign default role
        INSERT INTO ACCOUNT_ROLE (MAKH, ROLENAME)
        VALUES (@MAKH, 'CUSTOMER');
        
        -- Audit log
        INSERT INTO AUDIT_LOG (MATK, HANHDONG, BANGTACDONG)
        VALUES (@MAKH, 'REGISTER', 'CUSTOMER');
        
        COMMIT TRANSACTION;
        
        SET @RESULT = 1;
        SET @MESSAGE = N'Đăng ký thành công';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @RESULT = 0;
        SET @MESSAGE = ERROR_MESSAGE();
        SET @MAKH = NULL;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REVOKE_ROLE_FROM_USER]    Script Date: 11/28/2025 1:05:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure: Revoke Role from User
CREATE   PROCEDURE [dbo].[SP_REVOKE_ROLE_FROM_USER]
    @USERNAME NVARCHAR(100),
    @ROLENAME NVARCHAR(100),
    @RESULT INT OUTPUT,
    @MESSAGE NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        DECLARE @SQL NVARCHAR(500);
        SET @SQL = N'ALTER ROLE ' + QUOTENAME(@ROLENAME) + N' DROP MEMBER ' + QUOTENAME(@USERNAME);
        EXEC sp_executesql @SQL;
        
        SET @RESULT = 1;
        SET @MESSAGE = N'Đã thu hồi role ' + @ROLENAME + N' từ user ' + @USERNAME;
        
        -- Audit log
        INSERT INTO AUDIT_LOG (MATK, HANHDONG, BANGTACDONG)
        VALUES (0, 'REVOKE_ROLE: ' + @ROLENAME, 'USER: ' + @USERNAME);
    END TRY
    BEGIN CATCH
        SET @RESULT = 0;
        SET @MESSAGE = ERROR_MESSAGE();
    END CATCH
END
GO
USE [master]
GO
